button {
  padding: 26px;
  font-size: 91px;
  margin: 26px 0px 0px 18px;
  font-family: monospace
}

p {
  font-family: monospace;
  font-size: 48px;
  margin: 32px 10px;
}

span {
  font-family: monospace;
  line-height: 57px;
  padding: 14px;
  font-size: 36px;
}

body {
  margin: 58px;
}

h1 {
  font-family: monospace;
  font-size: 38px;
}
