body {
  font-family: sans-serif;
  padding: 10px;
}
h3 {
  font-weight: bold;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.refresh {
  font-size: 80%;
  margin-left: 10px;
}
.header {
  background: #ECECEC;
  padding: 5px;
}
.suggestions {
  border: 2px solid #ECECEC;
  list-style-type: none;
}
li {
  padding: 10px;
}
li img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 12px;
}
li .username, li .close {
  display: inline-block;
  position: relative;
  bottom: 15px;
  left: 5px;
  font-size: x-large;
}

a.close {
  padding: 0 18px;
}

a.username {
  font-size: 31px;
  font-family: monospace;
  padding: 0 30px;
}