h3 {
  font-weight: bold;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.header {
  background: #ECECEC;
  padding: 5px;
}
.suggestions {
  border: 2px solid #ECECEC;
  list-style-type: none;
}
.suggestions div{
  padding: 12px;
  /* width: 200px; */
  /* margin: 20px; */
}
.suggestions div img {
  width: 200px;
  cursor: pointer;
  border-radius: 12px;
}
.suggestions div .username, .suggestions div .close {
  font-size: x-large;
}

a.username {
}

.suggestion {
  text-align: center;
}


a.refresh {
  margin: 15px;
}